<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		{% block encabezado %} {% endblock %}
	</head>


	<body>
		<nav>
	    	<div class="nav-wrapper indigo darken-3">
	      		<a href="/" class="brand-logo"><i class="mdi-action-shopping-cart">Athea Products</i></a>
	      		<ul id="nav-mobile" class="right hide-on-med-and-down">
	        		<li><a href="/">Login</a></li>
	        		<li><a href="/inventario">Inventario</a></li>
	        		<li><a href="/productos/nuevo">Ag. Producto</a></li>
	        		<li><a href="#">Reportes</a></li>


	        		<li><a href="/logout">Cerrar sesion</a></li>
	      		</ul>
	    	</div>
	  	</nav>

	  	{% if user.is_authenticated %}
	  		Admin
	  	{% else %}
	  		Visitante
	  	{% endif %}

	  	{% block contenido %} {% endblock %}

	  	{% block footer %} {% endblock %}

	</body>
</html>