{% extends 'base.html' %}

{% block contenido %}
	<div class="row">
		<div class="col s8 offset-s2">
			<div class="card-panel teal lighten-5">
				<center><h4>Registro de Productos</h4></center>
				<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
					<!--{{formulario.as_p}}-->
					{% for campo in formulario %}

						<div class="row">
							<div class="input-field col s12">
								{% if campo.field.widget.input_type %}							
									<input id="{{campo.auto_id}}" type="{{campo.field.widget.input_type}}"  name="{{campo.html_name}}" class="validate">
									<label for="{{campo.auto_id}}">{{campo.label}}</label>
								{% else %}
									<i class="mdi-editor-mode-edit prefix"></i>
									<label for="{{campo.auto_id}}">{{campo.label}}</label>
									<textarea cols="40" rows="10" id="{{campo.auto_id}}" name="{{campo.html_name}}" class="materialize-textarea validate"></textarea>
								{% endif %}
							
							</div>
						</div>
					{% endfor %}
					<button type='submit' class="btn waves-effect waves-light" value='Registrar'>Registrar
						<i class="mdi-content-send right"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}	