{% extends 'base.html' %}

{%block contenido %}
<div class='row'>
	<div class="col s8 offset-s2">
		<div class="col s12 center"><h1>Opciones Administrativas</h1></div>
		<div class="col s6">
			<div class="center promo promo-example">
				<a href="usuario/"><i class="large mdi-social-person-add"></i></a>
				<p class="promo-caption"><h4>Usuarios</h4></p>
				<p class="light center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
		<div class="col s6">
			<div class="center promo promo-example">
				<a href="producto/"><i class="large mdi-action-add-shopping-cart"></i></a>
				<p class="promo-caption"><h4>Productos</h4></p>
				<p class="light center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
		<div class="col s6">
			<div class="center promo promo-example">
				<a href="inventario/"><i class="large mdi-action-assignment"></i></a>
				<p class="promo-caption"><h4>Inventario</h4></p>
				<p class="light center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>

		<div class="col s6">
			<div class="center promo promo-example">
				<a href="reporte"><i class="large mdi-editor-insert-chart"></i></a>
				<p class="promo-caption"><h4>Reportes</h4></p>
				<p class="light center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>	
	</div>
</div>
{%  endblock %}