{% extends 'base.html' %}

{%block contenido %}
<div class='row'>
	<div class="col s8 offset-s2">
		<div class="col s12 center"><h1>Opciones Administrativas</h1></div>
		<div class="col s4">
			<div class="center promo promo-example">
				<i class="large mdi-social-person-add"></i>
				<p class="promo-caption"><h4>Usuarios</h4></p>
				<p class="light center">
					Herramienta para la creación de usuarios en el sistema.
				</p>
			</div>
		</div>
		<div class="col s4">
			<div class="center promo promo-example">
				<i class="large mdi-action-shopping-cart"></i>
				<p class="promo-caption"><h4>Productos</h4></p>
				<p class="light center">
					Herrramienta para agregar productos al sistema.
				</p>
			</div>
		</div>
		<div class="col s4">
			<div class="center promo promo-example">
				<i class="large mdi-action-assignment"></i>
				<p class="promo-caption"><h4>Inventario</h4></p>
				<p class="light center">
					Herramienta de visualización del inventario con productos en existencia, stock máximo y mínimo.
				</p>
			</div>
		</div>
	</div>
</div>
{%  endblock %}